/* stile di base per l'intera pagina */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}

/* stile per l'intestazione */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #444;
  text-align: center;
}

#greetButton {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#greetButton:hover {
  background-color: #45a049;
}
#invio {
  cursor: pointer;
}
/* stile per il contenuto principale */
main {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* stile per il footer*/
footer {
  text-align: center;
  padding: 20px;
  background-color: #ddd;
}

/* imposta il colore del bordo a quello iniziale per non interferire */
input:focus,
textarea:focus {
  outline: none;
  border-color: initial;
}

/* aggiunge una classe per rendere invisibile gli elementi ma renderli accessibili ai lettori di schermo */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

p {
  font-size: 1.1rem;
  margin-top: 10px;
}

p.success {
  color: green;
  font-weight: bold;
}

p.error {
  color: red;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-left: 10px;
}
input.error,
textarea.error {
  border-color: red;
}

input.success,
textarea.success {
  border-color: green;
}

/* Cambia il colore del testo nel placeholder in base allo stato */
input.error::placeholder,
textarea.error::placeholder {
  color: #ff6666;
}

input.success::placeholder textarea.success::placeholder {
  color: #66cc66;
}
/* -------------- Stili per schermi più piccoli ------------------------*/
@media (max-width: 768px) {
  main {
    margin: 10px;
    padding: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label,
  input,
  textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}
/* ----------------------------------------------------------------------- */
