/* stile di base per l'intera pagina */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}

/* stile per l'intestazione */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #444;
  text-align: center;
}

#greetButton {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#greetButton:hover {
  background-color: #45a049;
}
#invio {
  cursor: pointer;
}
/* Durata di 0.3s con una transizione lineare */
#aboutDescription {
  transition: color 0.3s ease;
}

.project-details {
  opacity: 0;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Transizione per espansione fluida */
}

.project-card {
  background-color: #f8f9fa; /* colore di sfondo chiaro */
  border-radius: 8px; /* bordo arrotondato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leggera ombra */
  padding: 16px;
  margin-bottom: 16px;
  transition: transform 0.3s ease; /* transizione per effetto hover */
}

.project-card h3 {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #333;
}

.project-card:hover {
  transform: translateY(-5px); /* sposta leggermente la scheda verso l'alto */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta l'ombra */
}

.project-card.active .project-details {
  max-height: 500px; /* Altezza massima dei dettagli visibili */
  opacity: 1; /* rende visibili i dettagli */
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.toggle-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* transizione per effetto hover */
}

.toggle-btn:hover {
  background-color: #0056b3;
}

.project-details p {
  font-size: 0.9em;
  color: #555;
  line-height: 1.5;
  margin-top: 8px;
}
/* ------------------------- TESTIMONIANZE ---------------------------------------*/
/* Contenitore generale */
.testimonials-container {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

/* Wrapper delle testimonianze*/
.testimonials-wrapper {
  display: flex;
  transition: transform 1.5s ease;
}

/* Ogni testimonianza*/
.testimonial {
  min-width: 100%; /* Ognio testimonianza prende l'intera larghezza del contenitore */
}

/* ------------------------------------------------------------------------------ */
/* stile per il contenuto principale */
main {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* stile per il footer*/
footer {
  text-align: center;
  padding: 20px;
  background-color: #ddd;
}

/* imposta il colore del bordo a quello iniziale per non interferire */
input:focus,
textarea:focus {
  outline: none;
  border-color: initial;
}

/* aggiunge una classe per rendere invisibile gli elementi ma renderli accessibili ai lettori di schermo */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

p {
  font-size: 1.1rem;
  margin-top: 10px;
}

p.success {
  color: green;
  font-weight: bold;
}

p.error {
  color: red;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-left: 10px;
}
input.error,
textarea.error {
  border-color: red;
  color: red;
}

input::placeholder {
  color: gray;
}
input.success,
textarea.success {
  border-color: green;
  color: green;
}

/* Cambia il colore del testo nel placeholder in base allo stato */
input.error::placeholder,
textarea.error::placeholder {
  color: gray;
}

input.success::placeholder,
textarea.success::placeholder {
  color: greenyellow;
}
/* -------------- Stili per schermi più piccoli ------------------------*/
@media (max-width: 768px) {
  main {
    margin: 10px;
    padding: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label,
  input,
  textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}
/* ----------------------------------------------------------------------- */
